.footerContainer {
  padding: 1rem 10%;
  height: 100%;
  background-color: #111;
}
.footerContainer p {
  font-size: clamp(8px, 1vw, 32px);
  text-align: center;
  color: var(--clr-yellow-400);
}
.footerContainer a {
  text-decoration: none;
  color: var(--clr-yellow-400);
}