.headerContainer {
  position: fixed;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  background-color: transparent;
  backdrop-filter: blur(.5rem);
}

.logo {
  font-family: var(--pkm-font);
  color: #222;
  text-decoration: none;
  font-size: clamp(75%, 2.5em, 20vw);
  font-weight: bold;
}
