.pkmContainer {
  display: grid;
  place-content: center;
  overflow: hidden;
  background-color: var(--clr-yellow-200);
  font-size: 16px; /* 1em = 16px */
  padding-top: 5rem; /* = height del Header*/
}
.imageContainer {
  margin: 0 2em;
  background: linear-gradient(75deg, #000, #333);
  border-radius: 50%;
}
.imageContainer img {
  filter: drop-shadow(.25em .5em 0em rgba(0,0,0,.1));
  width: 100vw;
  height: auto;
  margin: auto;
  object-fit: contain;
  object-position: center;
}
@media screen and (min-width: 425px) {
  .imageContainer{
    max-width: 425px;
  }
}
.shinyBtn {
  margin: 1em auto 0 auto; /* 1 * 16px = 16px */
  background-color: transparent;
  border: .25em solid #222; /* .25 * 16px = 4px */
  border-radius: .5em; /* .5 * 16px = 8px */
  color: #222;
  font-weight: bold;
  cursor: pointer;
}

.pkmName {
  font-size: 2em; /* 1em = 2 * 16px = 32px */
  font-family: var(--pkm-font);
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.0625em; /* .0625 * 32px = 2px */
  margin: .5em; /* .5 * 32px = 16px */
  padding: .125em; /* .125 * 32px = 4px */
  
  background-color: #222;
  box-shadow: 0em .125em .125em #000; /* .125 * 32px = 4px*/
  color: var(--clr-yellow-200);
}
.description {
  text-align: center;
  margin: 0 .5em 2em .5em;
  color: #222;
  font-weight: bold;
}
.typesContainer {
  display: flex;
  justify-content: center;
  margin: 0 2em;
  gap: 2em;
}
.type {
  background-color: transparent;
  box-shadow: -.25em .25em 0em 0em var(--clr);
  border: .25em solid var(--clr);
  color: var(--clr);
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;

  flex-grow: 1;
  padding: 1em; /* 1 * 16px = 16px */
  max-width: 5em; /* 5 * 16px = 80px*/
  border-radius: 2em;
}

.ability {
  background-color: #222;
  text-align: center;
  color: var(--clr-yellow-200);
  border: .125em solid #222; /* .125 * 16px = 2px */
  margin: 2em 1em; /* 1 * 16px = 16px & 2 * 16px = 32px */
}
.ability h3 {
  font-size: 1.5em; /* 1.5 * 16px = 24px */
  border-bottom: .125em solid #333;
  margin: 0;
  text-transform: capitalize;
}
.hiddenAbility {
  font-size: .75em; /* .75 * 16px = 12px */
  background-color: var(--clr-yellow-400);
  color: #222;
  font-weight: bold;
  margin: 0;
}
.abilityEffect {
  margin: .5em;
}

.varietyBtn {
  width: 75vw;
  max-width: 400px;

  display: block;
  background-color: var(--clr-yellow-400);
  margin: 1em auto;
  padding: .5em;
  border: .125em solid #222;
  text-transform: capitalize;

  transition: background 200ms ease, box-shadow 250ms ease;
}
.varietyBtn:hover {
  background-color: var(--clr-yellow-200);
  box-shadow: -.2em .2em 0 0 #222;
  cursor: pointer;
}
.varietyLink {
  text-decoration: none;
  color: #222;
}

.stat {
  border: .125em solid #222;
  margin: 1em auto;
  text-align: center;
  width: 180px;
}
.stat p {
  margin: 0;
  font-weight: bold;
}
.statName {
  background-color: #222;
  color: var(--clr-yellow-200);
  text-transform: capitalize;
}
.statValue {
  background-color: var(--statColor);
  color: #000;
}