.toggleContent {
  transition: max-height .5s ease;
}
.toggleContent[data-active='false']{
  max-height: 0vh;
  overflow: hidden;
}
.toggleContent[data-active='true']{
  max-height: var(--maxHeight);
  overflow-y: scroll;
}

.toggleBtn {
  cursor: pointer;
  
  width: 100%;
  border: none;
  font-weight: bold;

  background-color: var(--clr-yellow-400);
}
.toggleBtn[data-color='false'] {
  background-color: var(--clr-yellow-200);
  border-top: .125em solid #222;
  color: #222;
}